<h1>User#welcome</h1>

<p>Hi <%= @user.first_name.capitalize %>,</p>

<p>We are excited to have you join our community of cinema lovers!</p>

<p>Make sure to head over to your profile and update your favorite films and directors. That way we can remind you when your favorites are showing in <%= @user.city %>.</p>

<p>Also, checkout the show times of movies playing now and search for other cinema fans. Don't see anyone attending a showing? Not to worry. Create a post and we will be in touch to let you know when other cinema lovers would like to go with you.</p>
<p>See you soon,</p>

<p>Your team at CineFriends</p>
