// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-center {
  margin-bottom: 20px;
  font-size: 50px;
}

.container-map {
  display: flex;
  padding-left:20px;
  padding-right: 20px;
}

.display h1{
  margin-bottom: 25px;

}

.card {
  position: relative;
  text-decoration:none !important;
}

.vert-padded {
  padding-top: 15px;
  padding-bottom: 15px;
}

.full-padded {
  padding: 15px;
}

// a:hover {
//   text-decoration: none;
//   // color: red;
//   .empty-thumbnail p
//   {
//     color: gray;
//   }
//   .card{
//     // box-shadow: 7px 7px 4px  rgba(0,0,0,0.2);
//     text-decoration: none !important;
//   }
// }

.empty-thumbnail, .empty-picture {
  border: 1px solid black;
  display:flex;
  align-items: center;
  justify-content: center;
  p{
    color: gray;
  }
}

// .pic-thumbnail {
//   background-size: contain;
//   background-position: center;
// }

.movie-label{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  p{
    margin: 0;
    font-size: 20px;
    // font-weight: bold;
  }
}

.theater-details {
  font-size: 15px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}

.btn{
  color: white;
  // background-color: rgb(125, 30, 27);
  // font-size: 20px !important;
  padding: 12px !important;
}

.btn:hover {
  // color: black;
  // background-color: rgba(125, 30, 27, 0.9);
}

.btn-back{
  // color: white;
  // background-color: rgb(160, 160, 160);
  // font-size: 15px;
  // padding: 10px;
  // margin: 5px;
  // border-radius: 3px;
}

.btn-search{
  color: white;
  background-color: $dark-red;
  font-size: 15px !important;
  padding: 5px !important;
}

.search {
  color: rgb(100, 100, 100);
  font-size: 15px ;
}

.pic-price {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

// #map {
//   flex: 0 0 450px;
//   height: 70vh;
//   width: 25vw;
//   position: sticky !important;
//   top: 0 !important;
//   right: 0 !important;
//   margin-left: 20px;
//   z-index: 1; /* Stay on top */
// }


.booking-form p{
  text-align: center;
  font-size: 20px;
}

.on-dark{
  color: $dark-red !important;
}
