// Specific CSS for your home-page
.cards-container {
  display: flex;
  flex-grow: 1;
}

.card {
  height: 300px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("sample_film.jpeg"));
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
