// Specific CSS for your home-page
.welcome-content{
  color: white;
  text-align: center;
  padding: 50px 0 100px 0;
  h1 {
    color: $dim-white;
  }
  h2 {
    margin-bottom: 110px;
  }
}

.blurrer{
  -webkit-backdrop-filter: blur(1px);
  // border-radius: 50px;
  // position: absolute;
}

.big-logo-wrapper {
  display: flex;
  justify-content: center;
}

.big-logo{
  width: 360px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: bold;
    color: white;
    margin: 0;
  }
  img{
    height: 60px;
  }
  .top-left, .bottom-right{
    position: absolute;
  }

  .top-left {
    top: 0;
    left: 0;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
  }
}

.card-container {
  display: flex;
}

.card-info1 {
  color: black !important;
}
.card-info2 {
  color: black !important;
}
.card-info3 {
  color: black !important;
}
.card1 {
  height: 300px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("sample_film.jpg"));
}
.card2 {
  height: 300px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("poster_sunshine.jpg"));
}
.card3 {
  height: 300px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("sideways.jpg"));
}
.card-user {
  position: absolute;
  right: 2px;
  bottom: 75px;
  width: 50px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.fas {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.welcome-text {
  text-align: center;
  color: white;
  margin-bottom: 200px;
}
.btn-start{
  color: $dark-red;
  // color: white;
  background-color: $dim-white;
  padding: 20px;
  margin-top: 40px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 5px;
  border: white;
  &:hover {
    // color: black;
    background-color: white;
    color: $dark-red;
  }
}

.cardimage1 {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("sample_film.jpg"),);
  background-size: cover !important;
  border-radius:5px 5px 0px 0px;
}

.cardimage2 {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("poster_sunshine.jpg"),);
  background-size: cover !important;
  border-radius:5px 5px 0px 0px;
}

.cardimage3 {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(image_path("sideways.jpg"),);
  background-size: cover !important;
  border-radius:5px 5px 0px 0px;
}
.card-info1 {
  position: absolute;
  bottom: 70px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
}

.card-info2 {
  position: absolute;
  bottom: 40px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
}

.card-info3 {
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
}
