.wrapper {
  min-height: calc(100vh - 70px);
  padding-top: 150px;
  color: white;
}

.container {
  width: 75% !important;
  h1, h2 {
    text-align: center;
    color: $dim-white;
  }
  h1{
    font-size: 48px;
    // color: $dim-white;
  }
  h2{
    font-size: 40px;
    // color: $dark-red;
  }
}
