
<%#= simple_form_for @posting do |f| %>
    <%#= datepick_input f, :date, :end_date %>
    <!-- <div class="form-actions text-center"> -->
      <%#= f.submit "Post", class: 'btn btn-search btn-block' %>
    <!-- </div> -->
<%#end %>

