<% gradient_str = "-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%)"  %>
<%= render 'layouts/banner', banner_type: 'banner', img_url: asset_path("banner_photo.jpg", type: :image), gradient: gradient_str %>
<div class="container">
  <div class="welcome-content">
    <div class="big-logo-wrapper">
      <div class="big-logo blurrer">
          <h1>CineFriends</h1>
      </div>
    </div>
    <br>
    <div class="blurrer">
      <h2>Where Cinema Lovers Find Each Other</h2>
    </div>
    <%= link_to "Start Your Journey Here", billboard_path, class: "btn-start" %>
  </div>
</div>
