<%= render "layouts/banner_home" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="cardfilm">
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <div class="cardimage">
          <div class="card-category">Showing Near You</div>
          <div class="card-info1">Schedule</div>
          <div class="card-info2">Theater</div>
          <div class="card-info3">Profile name</div>
          <div class="btnadd"></div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card2">
        <div class="card-category">CineFriends Nearby</div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card3">
        <div class="card-category">Showing Near You</div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
