<%= render "layouts/banner_home" %>

<div class="container">
  <div class="row">
    <div class="cards-container">
      <div class="col-xs-12 col-sm-4">

        <div class="card">
          <div class="card-category">Showing Near You</div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"><i class="fas fa-plus"></i>
          <a class="card-link" href="#" ></a>
        </div>

        <div class="card">
          <div class="card-category">Showing Near You</div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"><i class="fas fa-plus"></i>
          <a class="card-link" href="#" ></a>
        </div>

        <div class="card">
          <div class="card-category">Showing Near You</div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"><i class="fas fa-plus"></i>
          <a class="card-link" href="#" ></a>
        </div>

      </div>
    </div>
  </div>
</div>
