/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white !important;
  width:200px;
  height:50px;
  top: 5%;
  left: calc(50% - 100px);
  position: absolute;
  border : none;
}
.alert-info {
  background: #4e5451 !important;
    border : none;

}
.alert-warning {
  background: $red;
    border : none;

}


