.banner, .high-banner {
  width: 100vw;
  background-size: cover !important;
  // background-position: center !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  // background-image: linear-gradient(90deg, rgba(0,0,0,.8), white, 90%) !important;
  h4 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 375px;
    margin-bottom: 10px;
  }
}

.banner {
  height: 75vh;
}

.high-banner {
  height: 45vh;
}

.btn{
  color: rgb(97, 21, 33);
  background-color: black;
  font-size: 20px !important;
  padding: 20px !important;

  :hover {
    color: rgb(200, 163, 124);
    background-color: rgb(97, 21, 33);
  }
}

