.cards-container{
  display: flex;
  justify-content: space-around;
}
.cardfilm {
  height: 400px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  background-color: white;
  border-radius: 5px;
  opacity: .90;
  margin-bottom: 50px;
  justify-content: space-around;
}
.grow {
  transition: all 0.5s ease;
}
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

a:hover, a:focus {
  text-decoration: none !important;
}
.cardfilm:hover {
  opacity: 1.0;
  text-decoration: none;
}


.btnadd {
  position: absolute;
  right: 2px;
  bottom: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center;
  background-image: url(image_path("addme.png"),);
}

.film-name {
  text-transform: uppercase;
  text-decoration: none;
  color: black !important;
  margin-top: 15px !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.film-director {
  font-size: 12px;
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    text-decoration: none !important;
  }
}

.thumb-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:5px 5px 0px 0px !important;
}

.empty-thumbnail/*, .pic-thumbnail*/ {
  height: 300px;
  width: 200px;
  border-radius: 5px;
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.cardfilm-large {
  height: 600px;
  width: 300px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  background-color: white;
  border-radius: 5px;
  opacity: .90;
  margin-bottom: 50px;
  justify-content: space-around;
}
.film-name-large {
  text-transform: uppercase;
  text-decoration: none;
  color: black !important;
  margin-top: 0px !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.film-director-large {
  font-size: 15px;
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    text-decoration: none !important;
  }
}

.movie-label {
  padding-top: 0px !important;
}

