 // nececessary to have cards centered in the Bootstrap columns
 // (probably the position: relative messes up a little)
.card-wrapper{
  display: flex;
  justify-content: center;
  color: black;
}

.carduser {
  height: 300px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.cardimageuser {
  height: 200px;
  width: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  background-position: center;
  background-size: cover !important;
  border-radius:5px 5px 0px 0px;
}

.card-info1user {
  position: absolute;
  bottom: 65px;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
  color:black;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card-info2user {
  position: absolute;
  bottom: 35px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
  color:black;
}

.card-info3user {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration-color: black;
  padding: 5px;
  color:black;
}

.btnadduser {
  position: absolute;
  right: 2px;
  bottom: 85px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center;
  background-image: url(image_path("addme.png"),);
}

.carduserpairing{
  height: 350px;
  width: 450px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.cardimageuserpairing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
   .style_image{
    width: 200px; // how much you want
    min-height: 200px;
    float: left;
    margin: 10px;
    border-radius:5px 5px 0px 0px;
  }
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.messagebox{
  color: white;
  margin-left: 20px;
   h1{
    color: white;
   }
}
