.main-container {
  display: flex;
  // width: 90%;
  padding: 0 50px;
  // margin-top: 50px;
}

#poster-container{
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

#poster-container, .post-button-container{
  text-align: center;
}

.empty-poster {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color: gray;
  }
}

.empty-poster, .poster{
  height: 450px;
  width: 300px;
  border-radius: 4px;
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#movie-title{
  font-size: 25px;
}

#movie-director{
  font-size: 20px;
}

.movie-title-wrapper {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  z-index: 2;
  background-color: black;
  strong {
    color: $dark-red;
  }
}
.btn-form {
  color: black !important;
  background-color: rgb(125, 30, 27) !important;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  margin-left: 340px;
}

.btn-form:hover {
    color: black !important;
  background-color: rgb(125, 30, 27) !important;
}

#my-postings {
  margin-left: 30px;
  width: 380px !important;
}

.my-posting {
  width: 280px;
  background-color: $dim-white;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 20px 0;
}

.posting-el {
  margin: 2px;
  font-size: 18px;
}

.edit-post-btn {
  display:flex;
  justify-content: center;
}

#my-posting-title-wrapper {
  // margin-top: 180px;
  display: flex;
  justify-content: center;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  z-index: 2;
  background-color: black;
  strong {
    color: $dark-red;
  }
  padding-bottom: 20px;
}
