<div class="container">
  <h1>Contact your CineFriend></h1>

  <form action="/home/index" method="post">
  <div style="margin:0;padding:0">
    <input name="authenticity_token" type="hidden">
  </div>
  Form contents
</form>

</div>
