.dashboard-container {
  margin-top: 140px;
  padding: 0 50px;
}

.dashboard-container, .show-container{
  display: flex;
}

#user-cal-container {
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

#user-container{
  width: 25vw;
  display: flex;
  align-items: center;

  img{
    border-radius: 5px;
  }
  margin-bottom: 30px;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 ;
  text-align: center;
  h2 {
    margin: 0 !important;
  }
}

#cal-container{
  padding: 5px;
  background-color: $body-bg;
  color: black;
  // box-shadow: 0px 0px 4px 0px $light-gray;
  border-radius: 2px;
}

.show-container{
  flex: 1 ;
}

.pairings, .unmatched-postings{
  text-align: center;
}

.posting
{
  position: relative;
  padding-top: 1px;
  padding-bottom: 15px;
  margin: 15px;
  color: black;
  background-color: $dim-white;
  border-radius: 5px;
  h3 {
    margin: 0;
  }
}

.posting-info {
  color: black; padding: 10px;
}

.movie-friend-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  position: relative;
  padding: 10px 0;
  width: 420px;
}

.pairing-status-frame{
  position: absolute;
  top: 4px;
  bottom: 2px;
  left: 5px;
  right: 5px;
  border: 3px green solid;
  border-radius: 3px;
}

.pairing-status-label{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  div{
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius : 2px;
    border-bottom-right-radius : 2px;
    margin-bottom: 2px;
    padding: 0 3px 1px 3px;
  }
}

.movie-container {
  width: 220px;
  img {
    border-radius: 5px;
  }
}

.friend-container {
  position: relative;
  width: 180px;
}

.simple-calendar {
  color: $dim-white;
  background-color: $body-bg;

  a{
    color: $dark-red;
    font-weight: bold;
  }
  .calendar-title{
    font-weight: bold;
  }
  .calendar-heading{
    display: flex;
    justify-content: space-evenly;
  }

  tr:nth-child(odd) > td{
    color: black;
  }

  .today {
    font-weight: bold;
    background-color: yellow !important;
    border-left: black dotted 1px;
    border-right: black dotted 1px;
  }
  .past {}
}

.div-pairing-status{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  div {
    font-size: 15px;
  }
  &.pending{
    background-color: orange;
  }
  &.accepted{
    background-color: #4DA04E;
  }
  &.declined{
    background-color: #c0c0c0;
    color: gray;
  }
  // .btn-sm{
  //   margin: 5px;
  // }
}

.fas.fa-square{
  position: relative;
  bottom: 0; right: 0;
  &.pending{
    color: orange;
  }
  &.accepted{
    color: green;
  }
  &.declined{
    color: gray;
  }
}

// .pair-user-wrapper{
  // position: relative;
// }
