.container{
  margin: 0px
}
.container-all {
  display: flex;
}

.col-left{
  margin-top: 50px;
  float: left;
  width: 20vw;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
  // border: 1px solid brown;
}

.user-photo {
  border-radius: 100%;
}
.col-right {
  margin-top: 50px;
    width: 60vw;
}

.posting-info {
  display: flex;
}
.movie-poster {
  margin-right: 100px;
}

li {
  list-style-type: none;
}

.btn-back{
  color: white;
  background-color: rgb(160, 160, 160);
  // font-family: 'Cabin', sans-serif;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  margin-left: 100px;
}

.btn-back:hover {
  color: black;
  background-color: rgba(125, 30, 27, 0.9);
}

.user-title-wrapper {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  z-index: 2;
  background-color: transparent !important;
  strong {
    color: $dark-red;
  }
}

.user-profile-photo {
  border-radius: 50px;
}
