<div class="banner">
  <div class="banner-content">
    <h4>Search Bar Here</h4>
    <!-- <a class="btn">Start Your Journey Here</a> -->
    <%= link_to "Search", new_user_registration_path, class: "btn" %>
  </div>
</div>
