<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert" style="border: none; -webkit-box-shadow: none; box-shadow: none;">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <%= alert %>
  </div>
<% end %>
