<div class="footer">
  <div class="footer-copyright">
    CineFriends </i>
    <p>About Us | FAQs | Terms of Service</p>
  </div>

  <div class="footer-links">
    <a href="#"><i></i>  <%= image_tag "instagram.png", height: 20 , with: 25 %> </a>
    <a href="#"><i></i>  <%= image_tag "facebook-logo.png", height: 20 , with: 25 %></a>
    <a href="#"><i></i>  <%= image_tag "twitter.png", height: 20 , with: 25 %></a>
  </div>


</div>
